:root {
  --background: #fff;
  --foreground: #09090b;
  --card: #fff;
  --card-foreground: #09090b;
  --primary: #574747;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #574747;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --faint: #fafafa;
  --accent: #f4f4f5;
  --danger: #df514c;
  --danger-foreground: #fafafa;
  --success: #4caf50;
  --success-foreground: #fafafa;
  --warning: #ff8c00;
  --warning-foreground: #09090b;
  --border: #d4d4d8;
  --input: #d4d4d8;
  --ring: #574747;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #1f2937;
  --card-foreground: #fafafa;
  --primary: #574747;
  --primary-foreground: #fafafa;
  --secondary: #374151;
  --secondary-foreground: #fafafa;
  --muted: #374151;
  --muted-foreground: #d4d4d8;
  --faint: #1f2937;
  --accent: #374151;
  --danger: #df514c;
  --danger-foreground: #fafafa;
  --success: #4caf50;
  --success-foreground: #fafafa;
  --warning: #ff8c00;
  --warning-foreground: #09090b;
  --border: #4b5563;
  --input: #4b5563;
  --ring: #574747;
}

html {
  height: 100%;
}

body {
  font-family:
    "Inter Variable",
    -apple-system,
    system-ui,
    sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--foreground);
}

main {
  max-width: 450px;
  width: 100%;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.subtitle {
  font-size: 0.875rem;
  color: var(--muted-foreground);
  margin: 0.25rem 0 1.5rem 0;
}

.bio {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.social-link {
  color: var(--foreground);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 0.8125rem;
}

.social-link:hover {
  color: var(--card-foreground);
  text-decoration-thickness: 1px;
}

.cv-link {
  font-weight: 600;
}

@media (max-width: 480px) {
  body {
    padding-inline: 2rem;
  }
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
}


html:not(.dark) .theme-dark-toggle-icon {
  display: none;
}

.dark .theme-light-toggle-icon {
  display: none;
}